<% if conv = object[:converters] %>
  <div class='tags'>
    <h3>Registred converters:</h3>
    <ul class='param'>
      <% conv.each do |(from, to)| %>
        <li>
          <span class='type'><tt><%= linkify from %></tt></span>
          <%= h "=>" %>
          <span class='inline'><tt><%= linkify to %></tt></span>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
